.container {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 1.6fr 0.8fr 1.7fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr 0.5fr 0.9fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row; }

  .header {
    grid-area: 0.07143; }

    .specs {
      grid-area: 0.00893; }

      .specs-header {
        grid-area: 0.01786; }

        .specs-text {
          grid-area: 0.01905; }

          .specs-table {
            grid-area: 0.01488; }

            .images {
              grid-area: 0.01562; }

              .images-back {
                grid-area: 0.03; }

                .images-controller {
                  grid-area: 0.02; }

                  .images-main {
                    grid-area: 0.02604; }

                    .intro {
                      grid-area: 0.1875; }

                      .titles {
                        grid-area: 0.125; }

                        .titles-header {
                          grid-area: 0.2; }

                          .title-left {
                            grid-area: 0.3125; }

                            .title-center {
                              grid-area: 0.10417; }

                              .title-right {
                                grid-area: 0.05208; }
