<!DOCTYPE html>
<html>

<head>
    <title>Business Corp | GameMaster X570</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
</head>

<body>
    <div class="container">
    <div class="header"></div>
    <div class="specs"></div>
    <div class="specs-header"></div>
    <div class="specs-text"></div>
    <div class="specs-table"></div>
    <div class="images"></div>
    <div class="images-back"></div>
    <div class="images-controller"></div>
    <div class="images-main"></div>
    <div class="intro"></div>
    <div class="titles"></div>
    <div class="titles-header"></div>
    <div class="title-left"></div>
    <div class="title-center"></div>
    <div class="title-right"></div>
</div>
</body>

</html>