<div
      style="
        width: '100%';
        min-height: '100vh';
        overflow: 'auto';
        display: 'flex';
        flex-direction: 'column';
        align-items: 'center';
      "
    >
      <div
        style="
          background-color: 'rgba(38, 34, 34, 1)';
          width: '100%';
          height: '1024px';
          display: 'flex';
          align-items: 'flex-start';
          flex-shrink: '0';
          border-color: 'transparent';
          position: 'relative';
          overflow: 'hidden';
          "
      >
        <img
          src="/playground_assets/rectangle114-udlb-3200w.png"
          alt="Rectangle114"
          style="
            width: '3200px';
            height: '196px';
            border-color: 'transparent';
            position: 'absolute';
            top: '0px';
            left: '0px';
            "
        />
        <div
          style="
            position: 'absolute';
            left: '0px';
            top: '70px';
            width: '1350px';
            height: '909px';
            display: 'flex';
            align-items: 'flex-start';
            margin: 'auto';
            right: '0px';
            "
        >
          <Component1 rootClassName="rootClassName"></Component1>
          <Component rootClassName="rootClassName"></Component>
        </div>
      </div>
    </div>